anndata>=0.7
factor_analyzer==0.3.2
numpy>=1.17.0
matplotlib>=3.1.2
pandas>=0.21
scipy>=1.4
seaborn
h5py>=2.10.0
tables
tqdm
importlib_metadata>=0.7; python_version < '3.8'
scikit-learn>=0.21.2
statsmodels>=0.10.0rc2
patsy
networkx>=2.3
natsort
joblib
numba>=0.41.0
umap-learn>=0.3.10
legacy-api-wrap
setuptools_scm
packaging
sinfo
beautifulsoup4==4.9.1
lxml==4.5.2
pandas-market-calendars==1.4.2
requests==2.24.0
plotly==4.14.1
nbformat==4.2.0
